*{
	margin: 0px;
	padding: 0px;
	font-family: 'Droid Sans', sans-serif;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
#wrapper, #container{
	width: 960px;
	margin: 0px auto;
	position: relative;
}
.overlay{
	width: 100%;
	height: 684px;
	display: none;
	background: rgba(255,255,255, .65);
	position: absolute;
	top: 0px;
	left: 0px;
}
.overscreen{
	width: 500px;
	height: 300px;
	background: #FFF;
	border: 2px black solid;
	margin: 100px auto 0px auto;
	clear: both;
}
.color span{
	font-size: 10px;
	display: block;
}
.chessboard{
	width: 600px;
	height: 600px;
	border: 2px #bbc8f0 solid;
	float: left;
}
.chessboard div{
	width: 12.5%;
	height: 12.5%;
	float: left;

}
.chessboard div img{
	width: 100%;
	height: 100%;
}
.chessboard div p{
	position: absolute;
}
.chessboard div.B{
	background-color: #bbc8f0;
}
.chessboard div.W{
	background-color: #FFF;
}
.chessboard div.movable{
	background-color: green;
	box-shadow: inset 0px 0px 0px 2px rgb(0,100,0);
	-moz-box-shadow: inset 0px 0px 0px 2px rgb(0,100,0);
	-webkit-box-shadow: inset 0px 0px 0px 2px rgb(0,100,0);
}
.chessboard div.attackable{
	background-color: red;
}
.chessboard div.selected{
	background-color: yellow;
}
.selection a, .color a, .initial a{
	cursor: pointer;
	padding: 10px;
	width: 105px;
	padding-top: 100px;
	height: 190px;
	display: block;
	float: left;
	text-align: center; 
}
.color h2{
	display: block;
}
.color a, .initial a{
	height: 100px;
	width: 146px;
}
.initial a{
	width: 230px;
}

.selection a:hover, .color a:hover, .initial a:hover{
background: #CCC;
}
.rightCol{
	float: right;
}
.chat, .movelist{
width: 300px;
height: 250px;
padding: 20px;
min-height: 20px;
border: 2px #bbc8f0 solid;
display: none;
margin-bottom: 16px;
}
.movelist{
	display: block;
}
.movelist .scroll{
	overflow: auto;
	height: 220px;
}
.movelist table{
	width: 100%;
	border-collapse: collapse;
}
.movelist table tr td{
	width: 45%;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	background: rgb(234, 237, 247);
}
.movelist table tr:nth-child(2n+1) td{
	background: #bbc8f0;
}
.movelist table tr td:first-child{
	width: 10%;
}
.chat.active{
	display: block;
}

.chat p{
color: #000;
font-family: 'Droid Sans', sans-serif;
}
.chat input{
width : 94%;
background: #f0e1bb;
color: #6f7aa3;
font-style: italic;
border: 1px #a3915e solid;
font-size: 12px;
height: 27px;
padding: 0px 3%;
-webkit-transition: background .2s linear;
outline: none;

}
.chat input:focus{
font-style: normal;
background: #fff4d7;
color: #0b2a41;
}
.movelist h2, .chat h2{
font-weight: normal;
color: #6f7da3;
font-size: 24px;
}
.chat .chatContainer, .movelist .movelistContainer{
overflow: auto;
height: 165px;
margin: 15px 0px;
}
.chat .chatContainer p{
font-size: 14px;
}
.status{
background: #f0e1bb;
padding-left: 12px;
height: 40px;
overflow: hidden;
margin: 20px 0px;
position: relative;
}
.status .arrow_up, .status .arrow_down{
position: absolute;
z-index: 2;
text-align: center;
right: 0px;
display: block;
width: 20px;
height: 20px;
background-color: #6f7da3;
cursor: pointer;
-webkit-transition: background-color .2s linear;
-moz-transition: background-color .2s linear;
-o-transition: background-color .2s linear;
-ms-transition: background-color .2s linear;
transition: background-color .2s linear;
}
.status .arrow_up:hover, .status .arrow_down:hover{
background-color: #bbc8f0;
}
.status.upDisabled .arrow_up, .status.downDisabled .arrow_down{
background-color: #9b9b9b;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
-ms-transition: none;
transition: none;
}
.status .arrow_up{
top: 0px;
background: url("images/arrow_up.png") no-repeat center #6f7da3;
}
.status .arrow_down{
bottom: 0px;
background: url("images/arrow_down.png") no-repeat center #6f7da3;
}
.status p{
color: #0b2a41;
font-size: 13px;
padding: 2px 0px;
margin: 0px;
font-family: 'Droid Sans', sans-serif;
}
.status p.e{
color: #541717;
}
.status p.s{
color: #175419;
}
.status time{
color: #54686b;
margin-right: 5px;
}
footer{
}